	body
	{
	background-color: #dde3ec;
	}

	.banner{
		text-align:center;
		background: #303844;
		margin:0 auto;		
		}	

.align_ctr{
	text-align:center;
}

.align_lft{

}

    .c_btn{
    	width: 150px;
    	height: 30px;
    	background-color:  #dde3ec;
    	position: fixed;
    	right: 100px;
    	bottom: 40%;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .c_btn #customizeBtn{

		text-align: center;    
    	width: 100px;
    	height: 50px;
    	display: inline-block;
    	cursor: pointer;
    	z-index: 1000;/*set on top*/
    }
    .c_btn #customizeBtn:hover{
    	transform:scale(1.2);
    }

    .btn #cat_menu:hover{
    	transform:scale(1.05);
    }


	.ct_bt{
	text-align:left;		
	}
    .ct_bt #menu1:hover{
    	transform:scale(1.05);
    }
    .ct_bt #menu2:hover{
    	transform:scale(1.05);
    }
    .ct_bt #menu3:hover{
    	transform:scale(1.05);
    }
    .ct_bt #menu4:hover{
    	transform:scale(1.05);
    }

	.pic{
		width:25%;
		height:auto;
		border-radius: 15px;
		border-color:#303844;
		border-style:solid;
		border-width:5px;
		width:25%;
		height:auto;
	}